<script type="text/template" id="tpl-school-dashboard">
    <h1><%= coursesTitle %></h1>
    <ul id="course-list"></ul>

    <h1><%= teachersTitle %></h1>
    <ul id="teacher-list"></ul>
    
    <h1><%= studentsTitle %></h1>
    <ul id="student-list"></ul>
</script>
