<script type="text/template" id="tpl-school-dashboard">
    <h1><%= coursesTitle %></h1>
    <ul id="course-list"></ul>

    <h1><%= teachersTitle %></h1>
    <ul id="teacher-list"></ul>
    
    <h1><%= studentsTitle %></h1>
    <ul id="student-list"></ul>
</script>
<script type="text/template" id="tpl-dashboard">
    <h1><%= title %></h1>
    <ul id="course-list"></ul>
</script>
<script type="text/template" id="tpl-course-item">
    <div>
        <img src="<%= PictureUrl %>" />
        <h2><%= Title %></h2>
        <p><%= Description %></p>
    </div>
</script>
<script type="text/template" id="tpl-teacher-item">
    <div>
        <img src="<%= PictureUrl %>" />
        <h2><%= Name %></h2>
    </div>
</script>

<script type="text/template" id="tpl-student-item">
    <div>
        <img src="<%= PictureUrl %>" />
        <h2><%= Name %></h2>
    </div>
</script>
