<script type="text/template" id="tpl-student-dashboard">
    <h1><%= coursesTitle %></h1>
    <ul id="course-list"></ul>

    <h1><%= friendsCourseTitle %></h1>
    <ul id="friend-course-list"></ul>    

    <h1><%= sugestedCoursesTitle %></h1>
    <ul id="sugested-course-list"></ul>
</script>
<script type="text/template" id="tpl-course-item">
    <div>
        <img src="" style="float: left; width: 100px; height: 60px;" />
        <h3><a href="/course/<%= Id %>"><%= Title %></a></h3>
        <p><%= Description %></p>
    </div>
</script>

<!-- Templates for courses -->
<script type="text/template" id="tpl-course-search">
    Courses:&nbsp;
    <input type="text" class="form-control" placeholder="Search ..." id="search-text" />
    <div id="result-container">
        <p>Result(s) <span id="results-count"></span></p>
        <ul id="search-results"></ul>
    </div>
</script>
<script type="text/template" id="tpl-course-search-item">
    <div>
        <img src="" style="float: left; width: 100px; height: 60px;" />
        <h3><a href="/course/<%= Id %>"><%= Title %></a></h3>
        <p><%= Description %></p>
    </div>
</script>