<script type="text/template" id="tpl-student-dashboard">
    <h1><%= coursesTitle %></h1>
    <ul id="course-list"></ul>

    <h1><%= friendsCourseTitle %></h1>
    <ul id="friend-course-list"></ul>    

    <h1><%= sugestedCoursesTitle %></h1>
    <ul id="sugested-course-list"></ul>
</script>
<script type="text/template" id="tpl-course-item">
    <div>
        <img src="<%= PictureUrl %>" />
        <h2><%= Title %></h2>
        <p><%= Description %></p>
    </div>
</script>

<!-- Templates for courses -->
<script type="text/template" id="tpl-course-search">
    Course:&nbsp;
    <input type="text" placeholder="Search ..." id="search-text" />
    <p>Result(s) <span id="results-count"></span></p>
    <ul id="search-results"></ul>
</script>