@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Whiteboard.DataAccess.Models
@section stylesheets {
    <link rel="stylesheet" href="@Url.Content("~/Content/css/sb-admin.css")" />
}
<div class="dashboard-container">
    @if (User.IsInRole(Whiteboard.DataAccess.Models.Profile.ROLE_SCHOOL)) {
        @Html.Partial("_SchoolDashboard")
    } else if (User.IsInRole(Whiteboard.DataAccess.Models.Profile.ROLE_TEACHER)) {
        @Html.Partial("_TeacherDashboard")
    } else if (User.IsInRole(Whiteboard.DataAccess.Models.Profile.ROLE_STUDENT)) {
        @Html.Partial("_StudentDashboard")
    }
</div>
