@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Master.cshtml";
}

    <!-- Miyoo!!!...... -->

    <div id="whiteboard">
        <div id="canvasDiv"></div>
        <div id="whiteboardTools">
            <div class="whiteboard-tool">
                <button id="toolsClearBtn" type="button" class="btn btn-red">
                    Clear
                </button>
                <br />
                <br /> 
                <button id="endClass" type="button" class="btn btn-blue">
                    End <br />Class
                </button>
            </div>

            <div class="whiteboard-tool">
                <button id="eraserTool" type="button" class="btn btn-red">
                    <i class="fa fa-eraser"></i>
                </button>
                <input type="hidden" id="room" value="@ViewBag.CourseClassId"/>
            </div>

            <div class="whiteboard-tool">
                <button type="button" class="changeColor btn btn-white btn-sm" data-color="#ffffff" style="border: 3px solid black;">
                    <i class="fa fa-pencil fa-2x"></i>
                </button>
                <button type="button" class="changeColor btn btn-black btn-sm" data-color="#000000">
                    <i class="fa fa-pencil fa-2x"></i>
                </button>
                <button type="button" class="changeColor btn btn-purple btn-sm" data-color="#cb3594">
                    <i class="fa fa-pencil fa-2x"></i>
                </button>
                <button type="button" class="changeColor btn btn-yellow btn-sm" data-color="#ffcf33">
                    <i class="fa fa-pencil fa-2x"></i>
                </button>
                <button type="button" class="changeColor btn btn-brown btn-sm" data-color="#986928">
                    <i class="fa fa-pencil fa-2x"></i>
                </button>
                <input type="hidden" id="chatUserName" value="@ViewBag.ClassUserName" />
            </div>

            <div class="whiteboard-tool">
                <button type="button" class="changePencilSize btn btn-default btn-xs" data-pencil-size="4">
                    <i class="fa fa-circle fa-1x"></i>
                </button>
                <button type="button" class="changePencilSize btn btn-default btn-xs" data-pencil-size="8" style="border: 3px solid black;">
                    <i class="fa fa-circle fa-2x"></i>
                </button>
                <button type="button" class="changePencilSize btn btn-default btn-xs" data-pencil-size="25">
                    <i class="fa fa-circle fa-3x"></i>
                </button>
                <button type="button" class="changePencilSize btn btn-default btn-xs" data-pencil-size="35">
                    <i class="fa fa-circle fa-4x"></i>
                </button>
            </div>

            <div class="whiteboard-tool">
                <button type="button" class="changeBlackboardColor btn btn-green" data-blackboard-color="#356444" style="border: 3px solid black;">
                    <i class="fa fa-th-large"></i>
                </button>
                <button type="button" class="changeBlackboardColor btn btn-white" data-blackboard-color="#ffffff">
                    <i class="fa fa-th-large"></i>
                </button>
                <button type="button" class="changeBlackboardColor btn btn-gray" data-blackboard-color="#d1d1d1">
                    <i class="fa fa-th-large"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="class-options">
        <div class="class-options-selectors">
            <div id="chatSelector" class="section-selector chat-selector">
                CHAT
            </div>
            <div id="myNotesSelector" class="section-selector my-notes-selector">
                MY NOTES
            </div>
            <div id="bestNotesSelector" class="section-selector best-notes-selector">
                BEST NOTES
            </div>
            <div id="professorNotesSelector" class="section-selector professor-notes-selector">
                PROFESSOR NOTES
            </div>
        </div>
        <div id="chatSection" class="section-container chat-section">
            <!-- Chat section messages -->
            <div class="chat-section-messages">

            </div>
            <textarea id="chat-textarea" class="form-control" rows="3"></textarea>
        </div>
        <div id="myNotesSection" class="section-container my-notes-section">
            <div class="box-notes box-my-notes">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
            <textarea class="form-control textarea-notes textarea-my-notes" rows="3"></textarea>
        </div>
        <div id="bestNotesSection" class="section-container best-notes-section">
            <div class="box-notes box-best-notes">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
            <textarea class="form-control textarea-notes textarea-best-notes" rows="3"></textarea>
        </div>
        <div id="professorNotesSection" class="section-container professor-notes-section">
            <div class="box-notes box-professor-notes">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</div>
            <textarea class="form-control textarea-notes textarea-professor-notes" rows="3"></textarea>
        </div>
    </div>
@section StyleSheets {
    <link href="/Content/css/plugins/messenger/messenger.css" rel="stylesheet">
    <link href="/Content/css/plugins/messenger/messenger-theme-flat.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Content/css/pizarron/style.css">
}
@section Scripts {
    <script>
        noSideBar();
    </script>
    <script src="@Url.Content("~/Content/js/plugins/messenger/messenger.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/messenger/messenger-theme-flat.js")"></script>
    <script src="/Content/js/pizarron/socket.io.js"></script>
    <script src="/Content/js/pizarron/script.js"></script>
    <script>
        pizarrita.joinRoom();
    </script>
}