@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post)) {
            @Html.TextBox("email", null, new { autocomplete = "off", placeholder = "foo@bar.com" })
            <br />
            @Html.Password("password", null, new { autocomplete = "off" })

            <input type="submit" value="Log In" />
        }
    </div>
</body>
</html>
