@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@*<div class="cover">
    <div style="position:absolute;top: 50px; left: 100px; 
          background: rgba(255, 255, 255, 0.9); 
          width: 600px; height: 378px;
          padding: 5px 30px 15px 30px;
          border-radius: 5px;
        ">
        <h1>Pizarrón</h1>
        <p style="font-family: bad script; font-size: 25px;">
            "... don't get worried of teacher's notes again, we'll save them for you ..."
        </p>
        <br />   
        <ul style="font-family: bad script,sans-serif; font-size: 20px">
            <li>Attend your classes online</li>
            <li>Access teacher's notes when you want</li>
            <li>... listen the teacher and learn!!!</li>
        </ul>
    </div>

    <div style="">
        @Html.Partial("_RegisterWidget")
    </div>
</div>*@

<div id="slide1">
        @Html.Partial("_RegisterWidget")
</div>

<div id="slide2">
    <div class="row">
        <div style="margin-left: 200px; margin-top: 55px">
        @*<div class="col-md-3">
            <h1>Pizarrón</h1>
            <p style="font-family: bad script; font-size: 25px;">
                "... don't get worried of teacher's notes again, we'll save them for you ..."
            </p>
            <br />   
            <ul style="font-family: bad script,sans-serif; font-size: 20px">
                <li>Attend your classes online</li>
                <li>Access teacher's notes when you want</li>
                <li>... listen the teacher and learn!!!</li>
            </ul>
        </div>*@
        

            <h1>A Real-Time Teaching Platform</h1>
        </div>
    </div>
</div>

<div id="slide3">
    <div style="margin-top: 20px; margin-left: 20px;">
    <div class="row">
        <div class="col-md-4">
            <span><b>Our <br />Services</b> <i class="fa fa-gears fa-1x"></i></span>
        </div>
    </div>
    </div>
</div>
<div id="slide4">
    <div class="row pricing-circle">
    <div class="col-md-3 col-md-offset-3">
            <ul class="plan plan1">
                <li class="plan-name"><h3>Student</h3></li>
                <li class="plan-price">
                    <div style="padding-top: 17px">
                        <span class="price">Free</span>
                        <small></small>
                    </div>
                </li>
                <li>Access to all <strong>free</strong> courses</li>
                <li>Access to <strong>Teacher Notes</strong></li>
                <li>Interactive tools</li>
                <li class="plan-action">
                    <a href="#slide1" class="btn btn-default btn-md">Signup</a>
                </li>
            </ul>
        </div>
        <!--/.col-md-3-->
        <div class="col-md-3">
            <ul class="plan plan2 featured">
                <li class="plan-name"><h3>School</h3></li>
                <li class="plan-price">
                    <div>
                        <span class="price"><sup>$</sup>20</span>
                        <small>month</small>
                    </div>
                </li>
                <li>Teacher <strong>Notes</strong> Storage</li>
                <li>Max <strong>8</strong> Courses</li>
                <li>Up to <strong>200</strong> Students</li>
                <li class="plan-action">
                    <a href="#slide1" class="btn btn-green btn-md">Signup</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section StyleSheets {
     <link href="@Url.Content("~/Content/css/home.css")" rel="stylesheet">
}
@section Scripts {
    <script>
        noSideBar();
    </script>
    <script src="@Url.Content("~/Content/js/register.js")"></script>
}
