.navbar-login {
    width: 300px;
}
.navbar-login .form-control {
    margin-left: 5px;
    width: 280px;
}
.navbar-login label {
    margin-left: 5px;
    margin-bottom: -5px;
    margin-top: 5px;
}
.navbar-login .btn {
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
}
.login-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}
.login-container table {
    width: 300px;
}
.login-container .btn {
    margin-top: 10px;
    width: 100%;
}
.profile-container {
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 1px 15px 5px 15px;
    background-color: #b6ff00;
}