/* For autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
/* For login on the navbar*/
.navbar-login {
    width: 300px;
    margin-top: -8px;
}
.navbar-login .form-control {
    margin: 10px 0 0 5px;
    width: 280px;
}
.navbar-login a {
    margin: 3px 0 0 5px;
}
.navbar-login label {
    margin-left: 5px;
    margin-bottom: -5px;
    margin-top: 5px;
}
.navbar-login .btn {
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
}
.navbar-login .title {
    background-color: #5CB85C; 
    width: 100%; height: 35px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;
}


/* OTHERS */
.main-container {
    margin-top: 50px;
}
.login-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 25px;
    padding-left: 10px;
    background: #eee;
    border-radius: 5px;
}
.login-container table {
    width: 300px;
}
.login-container .btn {
    margin-top: 10px;
    width: 100%;
}
/* Register Widget Styles */
.register-container {
    margin: 80px auto 0 auto;
    padding: 8px 15px 20px 15px;
    background-color: #eee;
    border-radius: 3px;
}
.register-container-home {
    margin: 0 auto 0 auto;
    right: 100px; 
    top: 50px; 
    position: absolute;
    background-color: rgba(255,255,255, 0.85) 
}
.register-container .title {
    font-family: Source Sans Pro, sans-serif;
    display: block;
}
.title.title-big { font-size: 34px; font-weight: bold; }
.title.title-small { font-size: 18px; font-weight: normal; }
.register-container .info tr td:nth-child(1) {
    font-weight: bold;
    width: 120px;
}
.register-container .info .form-control {
    width: 300px;
}
.register-container .info td {
    padding-top: 5px;
}
.register-container table b {
    color: #f00;
}
.register-container .btn {
    margin-top: 8px;
    width: 100%;
}

.profile-container {
    width: 600px;
    margin: 80px auto 0 auto;
    padding: 1px 15px 5px 15px;
    background-color: #b6ff00;
    border-radius: 5px;
}
.profile-container .title {
    margin: 0 auto 0 auto;
    width: 207px;
}
.profile-container .profile-picture {
    margin: 0 auto 0 auto;
    background-color: #fff;
    border: 1px solid #444040;
    width: 150px;
    height: 150px;
}
.profile-container .profile-picture img {
    width: 100%;
    height: 100%;
}
.profile-container .row .col-md-4 {
    border-right: 1px solid #444040;
    padding: 5px;
}
.profile-container .btn-primary {
    margin-top: 5px;
}
.profile-container .info tr td:nth-child(1) {
    font-weight: bold;
    text-align: right;
    width: 120px;
    padding-right: 5px;
}
.profile-container .info .form-control {
    margin-top: 5px;
}
.profile-container .info .btn {
    margin-top: 5px;
}
.profile-container .row .col-md-4 input[type=file] {
    width: 94px;
}
.dashboard-container {
    margin-top: 50px;
    width: 100%;
}
/* COURSE STYLES */
.course-item img {
    float: left; width: 100px; height: 60px;
    margin-right: 10px;
}
.course-detail {
    margin: 15px auto 15px auto; 
    background-color: #fff; 
    border: 1px solid #000;
    padding: 10px;
}
#join-course {
    width: 100%;
}
.course-manager {
    margin: 15px auto 15px auto; 
    padding: 10px;
}
.course-manager .table-hover tbody tr:hover {
}
.red-circle {
    margin-left: 10px;
    width:10px; height:10px; border-radius:15px; background: #f00
}
.green-circle {
    margin-left: 10px;
    width:10px; height:10px; border-radius:15px; background: #0f0
}
