body {
    background-color: #3da6eb;
}
.navbar-login {
    width: 300px;
}
.navbar-login .form-control {
    margin-left: 5px;
    width: 280px;
}
.navbar-login label {
    margin-left: 5px;
    margin-bottom: -5px;
    margin-top: 5px;
}
.navbar-login .btn {
    margin-left: 5px;
    margin-top: 10px;
    width: 100%;
}
.main-container {
    margin-top: 50px;
}
.login-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 25px;
    padding-left: 10px;
    background: #eee;
    border-radius: 5px;
   -webkit-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
}
.login-container table {
    width: 300px;
}
.login-container .btn {
    margin-top: 10px;
    width: 100%;
}
.profile-container {
    width: 800px;
    margin: 0 auto 0 auto;
    padding: 1px 15px 5px 15px;
    background-color: #b6ff00;
}
.register-container {
    width: 500px;
    margin: 80px auto 0 auto;
    padding: 1px 15px 20px 15px;
    background-color: #eee;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.75);
}
.register-container-home {
    margin: 0 auto 0 auto;
    right: 100px; 
    top: 50px; 
    position: absolute;
    background-color: rgba(255,255,255, 0.85) 
}
.register-container .info tr td:nth-child(1) {
    font-weight: bold;
    width: 120px;
}
.register-container .info .form-control {
    width: 300px;
}
.register-container .info td {
    padding-top: 5px;
}
.register-container table b {
    color: #f00;
}
.register-container .btn {
    margin-top: 8px;
    width: 100%;
}