<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseContext" 
         providerName="MySql.Data.MySqlClient1" 
         connectionString="Server=localhost;Port=3306;Database=whiteboard_db;Uid=root;Pwd=12345;" />
  </connectionStrings>
<system.data>
  <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient1"
           description=".Net Framework Data Provider for MySQL" 
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
</system.data>
</configuration>