@using Whiteboard.Common
<nav class="navbar-side" role="navigation" id="school-sidebar">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle"
                     src="@Url.Content(Path.Combine(Constants.UPLOADS_PATH, (string)ViewBag.ProfileData.PictureUrl))"
                     alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logged in as
                </p>
                <p class="name tooltip-sidebar-logout">
                    @ViewBag.ProfileData.Name
                </p>
                <div class="clearfix"></div>
            </li>
            <!-- end SIDE NAV USER PANEL -->
            <!-- begin SIDE NAV SEARCH -->
            @*<li class="nav-search">
                <form role="form">
                    <input type="search" class="form-control" placeholder="Search...">
                    <button class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>*@
            <!-- end SIDE NAV SEARCH -->
            <!-- begin DASHBOARD LINK -->
            <li>
                <a class="active command single" href="#dashboard" id="default-select">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <!-- end DASHBOARD LINK -->
            <!-- begin CHARTS DROPDOWN -->
            @*<li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle multiple" data-target="#charts">
                    <i class="fa fa-bar-chart-o"></i> Charts <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="charts">
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Flot Charts
                        </a>
                    </li>
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Morris.js
                        </a>
                    </li>
                </ul>
            </li>*@
            <!-- end CHARTS DROPDOWN -->
            <!-- begin FORMS DROPDOWN -->
            @*<li class="panel">
                <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle multiple" data-target="#forms">
                    <i class="fa fa-edit"></i> Forms <i class="fa fa-caret-down"></i>
                </a>
                <ul class="collapse nav" id="forms">
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Basic Elements
                        </a>
                    </li>
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Advanced Elements
                        </a>
                    </li>
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Validation
                        </a>
                    </li>
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> WYSIWYG Editor
                        </a>
                    </li>
                    <li>
                        <a href="#" class="command">
                            <i class="fa fa-angle-double-right"></i> Dropzone Uploader
                        </a>
                    </li>
                </ul>
            </li>*@
            <!-- end FORMS DROPDOWN -->
        </ul>
    </div>
</nav>