@using Whiteboard.Common
@model Whiteboard.Web.Models.RedirectViewModel
<nav class="navbar-side" role="navigation" id="student-sidebar">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle"
                    style="width: 150px; height: 150px;"
                     src="@Url.Content(Path.Combine(Constants.UPLOADS_PATH, (string)ViewBag.ProfileData.PictureUrl))"
                     alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logged in as
                </p>
                <p class="name tooltip-sidebar-logout">
                    @ViewBag.ProfileData.Name
                </p>
                <div class="clearfix"></div>
            </li>
            <li>
                <a class="active command single" href="/dashboard" id="default-select">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a class="active command single" href="/dashboard/public">
                    <i class="fa fa-globe"></i> Public Courses
                </a>
            </li>
        </ul>
    </div>
</nav>
