@using Whiteboard.Common
<nav class="navbar-side" role="navigation" id="teacher-sidebar">
    <div class="navbar-collapse sidebar-collapse collapse">
        <ul id="side" class="nav navbar-nav side-nav">
            <!-- begin SIDE NAV USER PANEL -->
            <li class="side-user hidden-xs">
                <img class="img-circle"
                     src="@Url.Content(Path.Combine(Constants.UPLOADS_PATH, (string)ViewBag.ProfileData.PictureUrl))"
                     alt="">
                <p class="welcome">
                    <i class="fa fa-key"></i> Logged in as
                </p>
                <p class="name tooltip-sidebar-logout">
                    @ViewBag.ProfileData.Name
                </p>
                <div class="clearfix"></div>
            </li>
            <li>
                @if (Model.Redirect) {
                <a class="active command single" href="@Model.RedirectTo" id="default-select">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
                } else {
                <a class="active command single" href="#teacherdashboard" id="default-select">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
                }
            </li>
        </ul>
    </div>
</nav>