<!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
<ul class="nav navbar-right">
    @if (Request.IsAuthenticated) {
        <!-- begin ALERTS DROPDOWN -->
        @*<li class="dropdown">
            <a href="index.html#" class="alerts-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell"></i> 
                <span class="number">9</span><i class="fa fa-caret-down"></i>
            </a>*@
           @* <ul class="dropdown-menu dropdown-scroll dropdown-alerts">
                <!-- Alerts Dropdown Heading -->
                <li class="dropdown-header">
                    <i class="fa fa-bell"></i> 9 New Alerts
                </li>
                <!-- Alerts Dropdown Body - This is contained within a SlimScroll fixed height box. You can change the height using the SlimScroll jQuery features. -->
                <li id="alertScroll">
                    <ul class="list-unstyled">
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon green pull-left">
                                    <i class="fa fa-money"></i>
                                </div>
                                Order #2931 Received
                                <span class="small pull-right">
                                    <strong><em>3 minutes ago</em></strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon blue pull-left">
                                    <i class="fa fa-comment"></i>
                                </div>
                                New Comments
                                <span class="badge blue pull-right">15</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon orange pull-left">
                                    <i class="fa fa-wrench"></i>
                                </div>
                                Crawl Errors Detected
                                <span class="badge orange pull-right">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon yellow pull-left">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                                Server #2 Not Responding
                                <span class="small pull-right">
                                    <strong><em>5:25 PM</em></strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon red pull-left">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                Server #4 Crashed
                                <span class="small pull-right">
                                    <strong>
                                        <em>3:34 PM</em>
                                    </strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon green pull-left">
                                    <i class="fa fa-plus-circle"></i>
                                </div>
                                New Users
                                <span class="badge green pull-right">5</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon orange pull-left">
                                    <i class="fa fa-download"></i>
                                </div>
                                Downloads
                                <span class="badge orange pull-right">16</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon purple pull-left">
                                    <i class="fa fa-cloud-upload"></i>
                                </div>
                                Server #8 Rebooted
                                <span class="small pull-right">
                                    <strong>
                                        <em>12 hours ago</em>
                                    </strong>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="alert-icon red pull-left">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                Server #8 Crashed
                                <span class="small pull-right">
                                    <strong>
                                        <em>12 hours ago</em>
                                    </strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Alerts Dropdown Footer -->
                <li class="dropdown-footer">
                    <a href="index.html#">View All Alerts</a>
                </li>
            </ul>*@
            <!-- /.dropdown-menu -->
        @*</li>*@
        <!-- /.dropdown -->
        <!-- end ALERTS DROPDOWN -->

        <!-- begin USER ACTIONS DROPDOWN -->
        <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/course/create">
                        Create Course
                    </a>
                </li>
                <li>
                    <a href="/organization/create">
                        Create Organization
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Profile">
                        <i class="fa fa-user"></i> My Profile
                    </a>
                </li>
                @*<li>
                    <a href="mailbox.html">
                        <i class="fa fa-envelope"></i> My Messages
                        <span class="badge green pull-right">4</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <i class="fa fa-bell"></i> My Alerts
                        <span class="badge orange pull-right">9</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#">
                        <i class="fa fa-tasks"></i> My Tasks
                        <span class="badge blue pull-right">10</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <i class="fa fa-calendar"></i> My Calendar
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="index.html#">
                        <i class="fa fa-gear"></i> Settings
                    </a>
                </li>*@
                @*<li>
                    <a class="logout_open" href="index.html#logout">
                        <i class="fa fa-sign-out"></i> Logout
                        <strong>John Smith</strong>
                    </a>
                </li>*@
                <li>
                    <a class="logout_open" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out"></i>
                        Log Out &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </li>
    @using (Html.BeginForm("LogOut", "Auth", FormMethod.Post, new { id = "logoutForm" })) {
    @Html.AntiForgeryToken()
    }
            </ul>
            <!-- /.dropdown-menu -->
        </li>
        <!-- /.dropdown -->
        <!-- end USER ACTIONS DROPDOWN -->
    } else {
        <!-- begin USER ACTIONS DROPDOWN -->
        <li class="dropdown">
            <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
                Login <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @using (Html.BeginForm("Login", "Auth", FormMethod.Post)) {
                        <div class="navbar-login">
                            <div class="title">
                                Login to Pizarrón!
                            </div>
                            <table>
                                <tr><td>
                                @Html.TextBox("email", "", new { 
                                    placeholder="E-mail", 
                                    autocomplete="off",
                                    @class="form-control"
                                })</td></tr>
                                <tr><td>
                                @Html.Password("password", "", new { 
                                    placeholder="Password",
                                    autocomplete="off",
                                    @class="form-control"
                                })</td></tr>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Log In" class="btn btn-success" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                            @Html.ActionLink("Register a new account :D", "Register", "Auth");</td>
                                </tr>
                            </table>
                        </div>
                        }
                </li>
            </ul>
            <!-- /.dropdown-menu -->
        </li>
    }
</ul>